/*======= Google fonts =======*/
@import url('https://fonts.googleapis.com/css2?family=Kaushan+Script&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nunito&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Courgette&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script&display=swap');

/*======= Main Css =======*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins',sans-serif;
}

html{
    font-size: 62.5%;
}

/*======= Header navigation bar =======*/
.head{
  background: rgb(255, 255, 255);
  position: sticky;
  position: -webkit-sticky;
  height:7rem;
}


header{
    z-index: 999;
    position: fixed;
    width: 100%;
}

header .nav-bar{
    position: relative;
    background: white;
    backdrop-filter: blur(2rem);
    height: 7rem;
    top: 0;
    left: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 5rem;
    transition: 0.5s ease;
}

.nav-bar .logo{
    color: rgb(56, 170, 65);
    font-size: 3rem;
    font-weight: 600;
    font-family: 'Dancing Script', cursive;
    text-transform: normal;
    text-decoration: none;
}

.nav-bar .logo h6{
  font-size: 2rem;
  font-family: 'Courgette', cursive;
  font-weight: 300;
  margin-left: 3rem;
  text-transform: lowercase;
}

.navigation .nav-items a{
    color: rgb(0, 0, 0);
    font-size: 1.7rem;
    padding:1.4rem .1rem;
    float:left;
    font-family: 'Nunito', sans-serif !important;
    text-decoration: none;
}

.navigation .nav-items a:hover{
  color:#43a53b;
}

.navigation .nav-items a:not(:last-child){
    margin-right: 5rem;
}

.navigation .nav-items a i{
    display: none;
}

/*======= Scroll indicator bar =======*/
.scroll-indicator-container{
    width: 100%;
    height: .5rem;
}

.scroll-indicator-bar{
    background: #29ac0f;
    width: 0%;
    height: 100%;
}

.nav-close-btn, .nav-menu-btn{
    display: none;
} 

/*Dropdown */
.dropdown {
  float: left;
  overflow: hidden;
}

.dropdown .dropbtn {
  font-size: 1.7rem;  
  border: none;
  outline: none;
  color: white;
  padding: 1.4rem .5rem;
  background-color: inherit;
  font-family: inherit;
  margin: 0;
}
.dropdown-content {
  margin-top:4rem;
  margin-left:2.5rem;
  display: none;
  position: absolute;
  background-color: whitesmoke;
  min-width: 16rem;
  box-shadow: 0rem .8rem 1.6rem 0rem rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a {
  float: none;
  margin-left:2rem;
  color: black;
  padding: 1.2rem .5rem;
  text-decoration: none;
  display: block;
  text-align: left;
}

.dropdown-content a:hover {
  color: #3c9234;
  transition:.2s all ease-in;
}

.dropdown:hover .dropdown-content {
  transition:.5s ease-in-out;
  display: block;
}

#progress {
  position: fixed;
  bottom: 2rem;
  right: 1rem;
  height: 6rem;
  width: 6rem;
  display: none;
  place-items: center;
  border-radius: 50%;
  box-shadow: 0 0 1rem rgba(0, 0, 0, 0.2);
  cursor: pointer;
}
#progress-value {
  display: block;
  height: calc(100% - 1.5rem);
  width: calc(100% - 1.5rem);
  background-color: #ffffff;
  border-radius: 50%;
  display: grid;
  place-items: center;
  font-size: 3rem;
  color: #001a2e;
}

#preloader{
     background:#000 url(../gif/loader.gif)no-repeat center center;
     background-size:15%;
     height:100vh;
     width:100%;
     position:fixed;
     z-index:100;
 }




/*======= Media queries (max-width: 1100px) =======*/
@media screen and (max-width: 1100px){
  html{
    font-size: 65%;
  }
     header .nav-bar{
        padding: 0 3rem;
    }
}

@media screen and (max-width: 1024px){

  html{
    font-size: 60%;
  }
}

@media screen and (max-width: 998px){

  html{
    font-size: 58%;
  }
     header .nav-bar{
        padding: 0 1.5rem;
    }
}



/*======= Media queries (max-width: 850px) =======*/
@media screen and (max-width: 850px) {
     header .nav-bar {
        padding: 0 4rem;
    }

    /*======= Navigation menu =======*/
    .nav-menu-btn{
        display: block;
        color: rgb(0, 0, 0);
        font-size: 3rem;
        margin-right: 3rem;
        cursor: pointer;
    }

    .navigation{
        z-index: 99999;
        position: fixed;
        background: rgba(0, 0, 0, 0.5);
        width: 100%;
        height: 100vh;
        top: 0rem;
        left: 0;
        display: flex;
        justify-content: center;
        align-items: center;
        visibility: hidden;
        opacity: 0;
        transition: 0.3s ease;
    }

    .navigation.active{
        visibility: visible;
        opacity: 1;
    }

    .navigation .nav-items{
        position: relative;
        background: #fff;
        width: 40rem;
        max-width: 40rem;
        display: grid;
        place-content: center;
        margin: 2rem;
        padding: 3rem;
        border-radius: 2rem;
        box-shadow: 0 .5rem 2.5rem rgba(0, 0, 0, 0.8);
        transform: translateY(-20rem);
        transition: 0.3s ease;
    }

    .navigation.active .nav-items{
        transform: translateY(0);
    }

    .navigation .nav-items a{
        color: #222;
        font-size: 2rem;
        margin: 1.5rem 5rem;
    }

    .navigation .nav-items a i{
        display: inline-block;
        font-size: 2rem;
        margin-right: .5rem;
    }

    .dropdown-content {
      margin-top:6rem;
      margin-left:8rem;
    }
    .dropdown-content a {
      margin-left:1rem;
      padding: 1.2rem .5rem;
    }

    .nav-close-btn{
        display: block;
        color: #222;
        position: absolute;
        top: 0;
        right: 0;
        font-size: 2.5rem;
        margin: .1rem;
        cursor: pointer;
    }
}
  

@media(max-width:540px){
  html{
    font-size: 53%;
  }
  head{
    font-size: 50%;
  }
}

@media(max-width:412px){
  html{
    font-size: 47%;
  }
  
}

@media(max-width:280px){
  html{
    font-size: 38%;
  }
  
}